.preview-box {
  width: 100%;
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f9fbdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: none; 

  &[data-device="mobile"] {
    max-width: 668px; 
  }

  &[data-device="desktop"] {
    max-width: 50vw;
    transition: max-width 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &.map-style {
    background-color: #f9fbdf;
    transition: none !important;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffd200;
    border-radius: 3px;
  }

  .svg-layout-container {
    width: 100%;
    height: auto;
    
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}