.preview-box {
  width: 100%;
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: max-width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &[data-device="mobile"] {
    max-width: 668px; 
  }

  &[data-device="desktop"] {
    max-width: 50vw;
  }

  &.map-style {
    background-color: #2b2b2b;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffd200;
    border-radius: 3px;
  }

  .svg-layout-container {
    width: 100%;
    height: auto;
    
    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}