.site-header {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  width: 100%;
  background-color: #f9c428;
  color: #222529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  .logo {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation {
    button {
      margin-left: 15px;
      padding: 8px 16px;
      cursor: pointer;
      border: none;
      background: transparent;
      font-weight: bold;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        border-color: #222529;
        background-color: #f9fbdf;
        border-radius: 4px;
      }

      &.active {
        background-color: #222529;
        color: #ffd200;
        border-radius: 4px;
      }
    }
  }
}
